@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700");
html{
    width:100%;
    height:100%;
}
:root{
    --theme-color-1:#333333;
    --theme-color-2:#2a93d5;
    --theme-color-3:#6c90a1;
    --theme-color-4:#365573;
    --theme-color-5:#47799a;
    --theme-color-6:#8e9599;
    --theme-color-1-10:rgba(20,83,136,.1);
    --theme-color-2-10:rgba(42,147,213,.1);
    --theme-color-3-10:rgba(108,144,161,.1);
    --theme-color-4-10:rgba(54,85,115,.1);
    --theme-color-5-10:rgba(71,121,154,.1);
    --theme-color-6-10:hsla(202,5%,58%,.1)
}
body{
    font-family:Nunito,sans-serif;
    font-size:.8rem;
    font-weight:400;
    color:#212121;
    padding-top: 20px;


}
  .table input[type="text"] {
    display: none;
}

.bodyback{

    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

@media (min-width: 767px)
{
    .mobilehide{
        display: none;
    }
}
body.background{
    height:100%
}
body.background main{
    margin:0!important;
    height:100%
}
body.background main .container{
    height:100%
}
.fixed-background{
    background:url(../img/login.jpg) no-repeat;
    background-size:cover;
    background-size: 100% 100%;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0
}

#displayOptions a{
    cursor:pointer
}
#displayOptions a.active i{
    color:#333333
}
.scroll{
    margin-right:-15px;
    padding-right:15px;
    position:relative
}
.dropdown-menu{
    font-size:.8rem;
    border-radius:.1rem;
    background:#fff;
    border-color:rgba(33,33,33,.15)
}
.dropdown-item{
    padding:.75rem 1.5rem;
    color:#212121
}
.dropdown-item.active,.dropdown-item:active{
    color:#fff;
    text-decoration:none;
    background-color:#333333
}
::selection{
    background:#aabfc9
}
::-moz-selection{
    background:#aabfc9
}
.ps__thumb-y{
    background-color:#d7d7d7
}
.logo-single{
    width:200px;
    height:80px;
    background:url(../img/logo.png) no-repeat;
    background-position:50%;
    margin-bottom:60px;
    background-size: 100%
}
.logo-single,h1{
    display:inline-block
}
h1{
    font-size:2rem;
    padding-bottom:10px;
    color: #131212;
}
@media (max-width:767px){
    h1{
        font-size:1.3rem;
        padding-top:.5rem
    }
}
h2{
    font-size:1.4rem
}
@media (max-width:767px){
    h2{
        font-size:1.1rem
    }
}
h3{
    font-size:1.3rem;
    font-size:1.2rem
}
@media (max-width:767px){
    h3{
        font-size:1rem
    }
}
h4{
    font-size:1.15rem
}
@media (max-width:767px){
    h4{
        font-size:.9rem
    }
}
h5{
    font-size:1.1rem
}
@media (max-width:767px){
    h5{
        font-size:.9rem
    }
}
h6{
    font-size:1rem
}
@media (max-width:767px){
    h6{
        font-size:.85rem
    }
}
.r-0{
    right:0
}
.l-0{
    left:0
}
.list-item-heading{
    font-size:1rem
}
.nowrap{
    white-space:nowrap;
}
.truncate{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden
}
.min-width-zero{
    min-width:0
}
.no-transition{
    transition:none!important
}
button{
    color:#212121;
    outline:initial!important
}
@media (max-width:767px){
    .display-1{
        font-size:2.8rem
    }
}
@media (max-width:767px){
    .display-2{
        font-size:2.6rem
    }
}
@media (max-width:767px){
    .display-3{
        font-size:2.4rem
    }
}
@media (max-width:767px){
    .display-4{
        font-size:2.2rem
    }
}
.lead{
    font-size:1.8rem;
    font-weight:300;
    line-height:2rem
}
@media (max-width:767px){
    .lead{
        font-size:1.1rem;
        line-height:1.6rem
    }
}
.mb-5,.my-5{
    margin-bottom:2rem!important
}
@media (max-width:575px){
    .float-none-xs{
        float:none!important
    }
}
.main-heading,.separator{
    border-bottom:1px solid #d7d7d7
}
.alert-dismissible .close{
    padding:.5rem 1.25rem
}
.rounded{
    border-radius:50px!important
}
.img-thumbnail,.list-thumbnail{
    border-radius:.1rem;
    padding:0;
    border:initial
}
.list-thumbnail{
    height:auto;
    max-width:unset;
    height:85px;
    object-fit:cover;
    width:unset!important
}
@media (max-width:991px){
    .list-thumbnail{
        height:80px
    }
}
@media (max-width:575px){
    .list-thumbnail{
        height:70px
    }
}
@media (max-width:991px){
    .list-thumbnail.responsive{
        width:unset;
        height:135px
    }
}
@media (max-width:575px){
    .list-thumbnail.responsive{
        width:110px!important;
        height:100%
    }
}
@media (max-width:419px){
    .list-thumbnail.responsive{
        width:90px!important;
        height:100%
    }
}
.list-thumbnail.small{
    height:60px;
    font-size:1rem
}
@media (max-width:991px){
    .list-thumbnail.small{
        height:55px
    }
}
@media (max-width:575px){
    .list-thumbnail.small{
        height:50px
    }
}
.list-thumbnail.xsmall{
    height:40px;
    font-size:1rem
}
@media (max-width:991px){
    .list-thumbnail.xsmall{
        height:40px
    }
}
@media (max-width:575px){
    .list-thumbnail.xsmall{
        height:40px
    }
}
.list-thumbnail-letters{
    width:85px;
    height:85px;
    background:#333333;
    align-items:center;
    display:flex;
    justify-content:center;
    font-size:1.25rem;
    color:#fff
}
@media (max-width:991px){
    .list-thumbnail-letters{
        width:80px;
        height:80px
    }
}
@media (max-width:575px){
    .list-thumbnail-letters{
        width:70px;
        height:70px
    }
}
.list-thumbnail-letters.small{
    width:60px;
    height:60px;
    font-size:1rem
}
@media (max-width:991px){
    .list-thumbnail-letters.small{
        width:55px;
        height:55px
    }
}
@media (max-width:575px){
    .list-thumbnail-letters.small{
        width:50px;
        height:50px
    }
}
a{
    color:#212121;
    transition:color .2s
}
a:active,a:hover{
    text-decoration:initial;
    color:#333333
}
.white{
    color:#fff
}
p{
    font-size:.85rem;
    line-height:1.3rem;
    font-family:Nunito,sans-serif
}
.text-large{
    font-size:1.9rem
}
.text-xlarge{
    font-size:2.7rem
}
.text-small{
    font-size:.76rem;
    line-height:.9rem
}
.text-zero{
    font-size:0
}
.text-extra-small{
    font-size:.7rem
}
.text-muted{
    color:#909090!important
}
.text-semi-muted{
    color:#5d5d5d!important
}
.font-weight-medium{
    font-weight:500
}
.font-weight-semibold{
    font-weight:600
}
.color-theme-1{
    color:#333333
}
.color-theme-2{
    color:#2a93d5
}
.view-icon{
    font-size:15px;
    color:#8f8f8f
}
.view-icon:hover{
    color:#333333
}
.view-icon.s{
    font-size:14px
}
.btn-arrow{
    border-radius:30px!important;
    width:42px;
    height:42px;
    line-height:24px
}
.btn-arrow,.btn-arrow i{
    display:inline-block;
    text-align:center
}
.btn-arrow i{
    font-size:15px
}
.btn-sm.btn-arrow{
    width:34px;
    height:34px;
    line-height:17px
}
.btn-sm.btn-arrow i{
    font-size:13px;
    line-height:10px
}
.btn{
    border-radius:50px;
    outline:initial!important;
    box-shadow:none!important;
    font-size:.8rem;
    padding:.75rem 1.3rem .6rem
}
.btn,.btn-shadow{
    transition:background-color box-shadow .1s linear
}
.btn-shadow{
    box-shadow:0 1px 2px 0 rgba(0,0,0,.15),0 1px 3px 1px rgba(0,0,0,.15)!important
}
.btn-shadow:focus,.btn-shadow:hover{
    box-shadow:0 1px 3px 0 rgba(0,0,0,.15),0 4px 6px 2px rgba(0,0,0,.15)!important
}
.btn-empty{
    background:transparent
}
.btn-group-lg>.btn,.btn-group-sm>.btn,.btn-lg{
    border-radius:50px
}
.btn.default{
    border-radius:.1rem
}
.btn-primary{
    background-color:#333333;
    border-color:#333333;
}
.btn-primary:hover{
    background-color:#333333;
    border-color:#333333;
}
.check-button{
    cursor:default!important
}
.check-button.btn-primary{
    background-color:#333333!important;
    border-color:#333333!important;
    opacity:1
}
.check-button .custom-control{
    min-height:1.1rem;
    margin-top:-7px
}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{
    background-color:#0c3253;
    border-color:#0c3253
}
.btn-secondary{
    background-color:#2a93d5;
    border-color:#2a93d5
}
.btn-secondary:hover{
    background-color:#237bb3;
    border-color:#237bb3
}
.btn-secondary:not(:disabled):not(.disabled).active,.btn-secondary:not(:disabled):not(.disabled):active,.show>.btn-secondary.dropdown-toggle{
    background-color:#2070a2;
    border-color:#2070a2
}
.btn-primary.btn-primary-gradient{
    background:linear-gradient(90deg,#333333,#0a2a45)
}
.btn-primary.btn-primary-gradient:hover{
    background:linear-gradient(90deg,#333333,#0f3d64)
}
.btn-primary-gradient:not(:disabled):not(.disabled).active,.btn-primary-gradient:not(:disabled):not(.disabled):active,.show>.btn-primary-gradient.dropdown-toggle{
    background:linear-gradient(90deg,#333333,#0a2a45)
}
.btn-secondary-gradient{
    background:linear-gradient(90deg,#2a93d5,#1d6795)
}
.btn-secondary-gradient:hover{
    background:linear-gradient(90deg,#2a93d5,#237bb3)
}
.btn-secondary-gradient:not(:disabled):not(.disabled).active,.btn-secondary-gradient:not(:disabled):not(.disabled):active,.show>.btn-secondary-gradient.dropdown-toggle{
    background:linear-gradient(90deg,#2a93d5,#1d6795)
}
.btn-dark{
    color:#fff;
    background-color:#8f8f8f;
    border-color:#8f8f8f
}
.btn-dark:hover{
    background-color:#7b7b7b;
    border-color:#7b7b7b
}
.btn-light{
    color:#fff;
    background-color:#d7d7d7;
    border-color:#d7d7d7
}
.btn-light:hover{
    background-color:#c3c3c3;
    border-color:#c3c3c3
}
.btn-outline-dark{
    color:#8f8f8f;
    border-color:#8f8f8f
}
.btn-outline-dark:hover{
    color:#fff;
    background-color:#7b7b7b;
    border-color:#7b7b7b
}
.btn-outline-white{
    color:#fff;
    border-color:#fff;
    background-color:initial
}
.btn-outline-white:hover{
    color:#d7d7d7;
    background-color:#fff
}
.btn-outline-light{
    color:#d7d7d7;
    border-color:#d7d7d7
}
.btn-outline-light:hover{
    color:#fff;
    background-color:#c3c3c3;
    border-color:#c3c3c3
}
.btn-outline-primary{
    color:#333333;
    border-color:#333333
}
.btn-outline-primary:hover{
    background-color:#333333;
    border-color:#333333
}
.btn-outline-theme-3{
    background:unset;
    color:#6c90a1;
    border-color:#6c90a1
}
.btn-outline-theme-3:hover{
    background-color:#6c90a1;
    border-color:#6c90a1;
    color:#fff
}
.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle{
    background-color:#333333;
    border-color:#333333
}
.btn-outline-secondary{
    color:#2a93d5;
    border-color:#2a93d5
}
.btn-outline-secondary:hover,.btn-outline-secondary:not(:disabled):not(.disabled).active,.btn-outline-secondary:not(:disabled):not(.disabled):active,.show>.btn-outline-secondary.dropdown-toggle{
    background-color:#2a93d5;
    border-color:#2a93d5
}
.btn-header-light{
    color:#d7d7d7;
    border-color:transparent;
    background:transparent
}
.btn-header-light:hover{
    background-color:transparent;
    border-color:#d7d7d7
}
.btn-header-primary{
    color:#333333;
    border-color:transparent;
    background:transparent
}
.btn-header-primary:hover{
    background-color:transparent;
    border-color:#333333
}
.btn-header-secondary{
    color:#2a93d5;
    border-color:transparent;
    background:transparent
}
.btn-header-secondary:hover{
    background-color:transparent;
    border-color:#2a93d5
}
.btn-header-primary-light{
    color:#6c90a1;
    border-color:transparent;
    background:transparent
}
.btn-header-primary-light:hover{
    background-color:transparent;
    border-color:#6c90a1
}
.btn-group-lg>.btn,.btn-lg{
    line-height:1.5;
    font-weight:700;
    letter-spacing:.05rem;
    padding:.75rem 2.6rem .6rem
}
.btn-group-sm>.btn,.btn-sm{
    padding:.4rem 1rem .5rem;
    font-size:.76rem;
    line-height:1.5
}
.btn-group-xs>.btn,.btn-xs{
    padding:.25rem .75rem;
    font-size:.76rem;
    line-height:1.3
}
.btn-primary.disabled,.btn-primary:disabled,.btn-secondary.disabled,.btn-secondary:disabled{
    background-color:#dcdcdc;
    border-color:#dcdcdc
}
.btn-group>.btn-group:not(:last-child)>.btn,.btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    border-top-right-radius:0!important;
    border-bottom-right-radius:0!important
}
.btn-group>.btn-group:not(:first-child)>.btn,.btn-group>.btn:not(:first-child){
    border-top-left-radius:0!important;
    border-bottom-left-radius:0!important
}
.btn-link{
    color:#333333
}
.btn-link:hover{
    color:#071d2f;
    text-decoration:underline
}
.btn-multiple-state{
    position:relative;
    transition:opacity .5s
}
.btn-multiple-state .icon,.btn-multiple-state .spinner{
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
    opacity:0;
    visibility:hidden;
    top:50%;
    transform:translateY(-50%);
    transition:opacity .5s
}
.btn-multiple-state .icon i{
    vertical-align:text-bottom;
    font-size:24px
}
.btn-multiple-state .label{
    transition:opacity .5s
}
.btn-multiple-state.show-spinner .label{
    opacity:0
}
.btn-multiple-state.show-spinner .spinner{
    opacity:1;
    visibility:visible
}
.btn-multiple-state.show-success .label{
    opacity:0
}
.btn-multiple-state.show-success .icon.success{
    opacity:1;
    visibility:visible
}
.btn-multiple-state.show-fail .label{
    opacity:0
}
.btn-multiple-state.show-fail .icon.fail{
    opacity:1;
    visibility:visible
}
.icon-button{
    padding:0;
    font-size:14px;
    width:34px;
    height:34px;
    line-height:34px
}
.icon-button.large{
    width:44px;
    height:44px
}
.icon-button.small-icon{
    font-size:12px;
    line-height:32px
}
.top-right-button{
    width:calc(100% - 80px)
}
@media (max-width:575px){
    .top-right-button{
        padding-left:0;
        padding-right:0
    }
}
.top-right-button-single{
    width:unset
}
@media (max-width:991px){
    .top-right-button-single{
        width:100%
    }
}
.w-10{
    width:10%!important
}
.w-90{
    width:90%!important
}
.w-12{
    width:12%!important
}
.w-88{
    width:88%!important
}
.w-15{
    width:15%!important
}
.w-85{
    width:85%!important
}
.w-20{
    width:20%!important
}
.w-80{
    width:80%!important
}
.w-30{
    width:30%!important
}
.w-70{
    width:70%!important
}
.w-40{
    width:40%!important
}
.w-60{
    width:60%!important
}
@media (max-width:767px){
    .w-xs-100{
        width:100%!important
    }
}
@media (max-width:991px){
    .w-sm-100{
        width:100%!important
    }
}
.border{
    border:1px solid #f3f3f3!important
}
.border-right{
    border-right:1px solid #f3f3f3!important
}
.border-left{
    border-left:1px solid #f3f3f3!important
}
.border-top{
    border-top:1px solid #f3f3f3!important
}
.border-bottom{
    border-bottom:1px solid #f3f3f3!important
}
.border-primary,.border-theme-1{
    border-color:#333333!important
}
.border-theme-2{
    border-color:#2a93d5!important
}
.border-theme-3{
    border-color:#6c90a1!important
}
.border-secondary{
    border-color:#212121!important
}
.text-theme-2{
    color:#2a93d5!important
}
.text-theme-3{
    color:#6c90a1!important
}
.text-primary,.text-theme-1{
    color:#333333!important
}
.text-secondary{
    color:#212121!important
}
.badge-theme-2,.bg-theme-2{
    background-color:#2a93d5!important;
    color:#fff
}
.badge-theme-3,.bg-theme-3{
    background-color:#6c90a1!important;
    color:#fff
}
.badge-primary,.badge-theme-1,.bg-primary,.bg-theme-1{
    background-color:#333333!important;
    color:#fff
}
.badge-secondary,.bg-secondary{
    background-color:#2a93d5!important;
    color:#fff
}
.badge{
    padding:.55em .75em .6em;
    font-size:75%
}
.badge.badge-pill{
    padding-right:1.25em;
    padding-left:1.25em
}
.badge.badge-top-left{
    top:7px;
    right:-8px
}
.badge.badge-top-left-2{
    top:40px;
    right:-8px
}
.badge-outline-primary,.badge-outline-theme-1{
    background:unset;
    border:1px solid #333333;
    color:#333333
}
.badge-outline-secondary,.badge-outline-theme-2{
    background:unset;
    border:1px solid #2a93d5;
    color:#2a93d5
}
.badge-outline-theme-3{
    background:unset;
    border:1px solid #6c90a1;
    color:#6c90a1
}
.badge-outline-success{
    background:unset;
    border:1px solid #28a745;
    color:#28a745
}
.badge-outline-danger{
    background:unset;
    border:1px solid #dc3545;
    color:#dc3545
}
.badge-outline-warning{
    background:unset;
    border:1px solid #ffc107;
    color:#ffc107
}
.badge-outline-info{
    background:unset;
    border:1px solid #17a2b8;
    color:#17a2b8
}
.badge-outline-light{
    background:unset;
    border:1px solid #d7d7d7;
    color:#8f8f8f
}
.badge-outline-dark{
    background:unset;
    border:1px solid #8f8f8f;
    color:#8f8f8f
}
@media (max-width:991px){
    .breadcrumb-container .breadcrumb{
        padding:0
    }
}
.breadcrumb{
    background-color:transparent;
    margin-bottom:.5rem
}
.breadcrumb-item+.breadcrumb-item:before{
    content:"|"
}
.nav-tabs .nav-link{
    border:initial;
    padding-top:1rem
}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{
    background:#fff
}
.nav-tabs .nav-item.show .nav-link:before,.nav-tabs .nav-link.active:before{
    content:" ";
    background:#333333;
    color:#fff;
    border-radius:10px;
    position:absolute;
    width:100%;
    height:5px;
    left:0;
    top:0
}
.nav-tabs.separator-tabs .nav-item.show .nav-link:before,.nav-tabs.separator-tabs .nav-link.active:before{
    content:" ";
    background:#333333;
    color:#fff;
    border-radius:10px;
    position:absolute;
    width:100%;
    height:2px;
    left:0;
    bottom:0;
    top:unset
}
.nav-tabs.separator-tabs .nav-link{
    border:initial;
    padding-top:1rem;
    background:initial;
    padding-left:0;
    padding-top:.5rem;
    padding-right:0;
    margin-right:1.5rem;
    font-weight:600;
    letter-spacing:.5px;
    color:#8f8f8f
}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{
    border:initial;
    position:relative;
    color:#333333
}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{
    border:initial;
    color:#333333
}
.owl-stage{
    margin-bottom:1.5rem
}
.owl-item,.owl-stage{
    display:flex
}
.owl-item .card{
    display:flex;
    flex-grow:1
}
.owl-item .card .w-50{
    display:flex
}
.owl-item .card .card-body{
    flex-direction:column;
    display:flex;
    justify-content:space-between
}
.slider-nav .left-arrow,.slider-nav .right-arrow{
    font-size:20px;
    color:#333333;
    display:inline-block;
    vertical-align:middle;
    margin:0 15px
}
.slider-nav .slider-dot-container{
    display:inline-block
}
.owl-dot,.slick-dot{
    width:6px;
    height:6px;
    border-radius:10px;
    color:#00a7e2;
    background:#7cb9ec;
    outline:initial!important;
    border:initial;
    margin:0 5px;
    padding:0
}
.owl-dot.active,.slick-dots li.slick-active button{
    background:#333333
}
.best-rated-items .owl-stage img{
    max-width:230px
}
.slick .slick-slide{
    margin-left:15px;
    margin-right:15px;
    outline:initial!important;
    height:unset
}
.slick .slick-slide.card{
    display:flex;
    flex-grow:1
}
.slick .slick-slide.card .w-50{
    display:flex
}
.slick .slick-slide.card .card-body{
    flex-direction:column;
    display:flex;
    justify-content:space-between
}
.slick-list{
    display:flex
}
.slick-track{
    padding-bottom:30px;
    display:flex
}
@media (max-width:991px){
    .carousel-center-col{
        padding-left:0;
        padding-right:0
    }
}
.slick-dots{
    list-style:none;
    padding:0
}
.slick-dots li{
    display:inline-block
}
.navbar{
    
    height: 90px;
    padding:1.5rem 60px 1.5rem 0;
    box-shadow: 0 1px 10px 9px rgba(0,0,0,.07), 0 1px 6px rgba(0,0,0,.04);
   background: white;
}

.navback{
    background-image: url(../img/nav.jpg);
    background-position: center;
    background-size: contain;
    -webkit-filter: blur(1.2px);
    -moz-filter: blur(1.2px);
    -o-filter: blur(1.2px);
    -ms-filter: blur(1.2px);
    filter: blur(1.2px);   
  
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: -1;
}
.navbar #notificationDropdown{
    width:300px;
    padding:1.5rem;
    height:280px;
    right:5px
}
.navbar #iconMenuDropdown{
    width:240px;
    padding:1.5rem;
    height:auto;
    padding-bottom: 0;
}
.navbar .icon-menu-item{
    width:90px;
    display:inline-block;
    text-align:center;
    margin-bottom:1.7rem;
    color:#545454
}
.navbar .icon-menu-item i{
    font-size:32px;
    line-height:42px
}
.navbar .icon-menu-item span{
    text-align:center;
    padding:0 10px;
    line-height:14px
}
.navbar .icon-menu-item:focus,.navbar .icon-menu-item:hover{
    color:#333333
}
.navbar .menu-button-mobile{
    color:#8f8f8f;
    text-align:center
}
.navbar .menu-button-mobile svg{
    height:12px;
    fill:#212121
}
@media (max-width:767px){
    .navbar .menu-button-mobile{
        width:20px
    }
}
.navbar .menu-button{
    color:#8f8f8f;
    width:120px;
    text-align:center
}
.navbar .menu-button svg{
    height:12px
}
.navbar .menu-button .main,.navbar .menu-button .sub{
    fill:#212121;
    transition:fill .3s
}
.navbar .menu-button:hover{
    color:#333333
}
@media (max-width:767px){
    .navbar .menu-button{
        width:60px
    }
}
.navbar .navbar-logo{
    width: 150px;
    height: 45px;
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
}
.navbar .navbar-logo .logo{
    width:100%;
    height:100%;
    background:url(../img/logo.png) no-repeat;
    background-position: 40%;
    background-size: 100% 90%;
}
.navbar .navbar-logo .logo-mobile{
    width:100%;
    height:100%;
    background:url(../img/logo.png) no-repeat;
    /* background-position:50%; */
    background-size: 100% 100%;
}
@media (max-width:767px){
    .navbar .navbar-logo{
        width: 161px;
    }
}

.navbar .search{
    position:relative;
    width:230px;
    border-radius:20px;
    background:#f8f8f8
}
.navbar .search input{
    border:initial;
    background:transparent;
    outline:initial!important;
    padding:.5rem 1rem;
    line-height:2;
    font-size:.8rem;
    width:93%;
    color:#212121
}
.navbar .search .search-icon{
    font-size:17px;
    border-radius:10px;
    color:#d7d7d7;
    position:absolute;
    width:40px;
    height:40px;
    bottom:-6px;
    right:3px;
    text-align:center;
    cursor:pointer
}
.navbar .search .search-icon:hover{
    color:#333333
}
@media (max-width:991px){
    .navbar .search{
        width:115px
    }
    .navbar .search input{
        width:85%
    }
}
@media (max-width:767px){
    .navbar .search{
        width:30px;
        height:30px;
        background:initial;
        margin-left:.6rem;
        color:#6e6e6e
    }
    .navbar .search input{
        display:none
    }
    .navbar .search .search-icon{
        font-size:17px;
        width:30px;
        height:30px;
        bottom:-3px;
        right:0;
        color:inherit
    }
    .navbar .search.mobile-view{
        display:block;
        width:100%;
        position:fixed;
        z-index:2;
        background:#fff;
        left:0;
        top:0;
        height:70px;
        margin-left:15px
    }
    .navbar .search.mobile-view input{
        display:block;
        width:100%;
        height:70px;
        padding-left:0
    }
    .navbar .search.mobile-view span{
        top:50%;
        transform:translateY(-50%);
        right:25px
    }
}
.navbar .header-icons{
    margin-right:1rem
}
@media (max-width:575px){
    .navbar .header-icons{
        margin-right:0
    }
}
.navbar .header-icon{
    font-size:16px;
    color:#6e6e6e;
    padding-left:.6rem;
    padding-right:.6rem;
    vertical-align:initial
}
@media (max-width:575px){
    .navbar .header-icon{
        padding-left:.3rem;
        padding-right:.3rem
    }
}
.navbar .header-icon:hover{
    color:#333333
}
.navbar .header-icon#fullScreenButton i:last-of-type{
    display:none
}
.navbar .header-icon#notificationButton:after{
    font-size:10px;
    content:"3";
    color:#333333;
    border:1px solid #333333;
    border-radius:10px;
    position:absolute;
    width:15px;
    height:15px;
    text-align:center;
    font-weight:700;
    top:2px;
    right:43px;
    line-height:14px
}
@media (max-width:575px){
    .navbar .header-icon#notificationButton:after{
        right:-1px
    }
}
.navbar .user{
    color:#6e6e6e;
    position:relative
}
.navbar .user img{
    margin-left:10px;
    border-radius:30px;
    width:40px
}
@media (max-width:991px){
    .navbar .user .name{
        display:none
    }
}
@media (max-width:767px){
    .navbar .user{
        margin-left:0
    }
    .navbar .user img{
        width:30px
    }
    .navbar .user:after{
        font-size:11px;
        width:14px;
        height:14px;
        bottom:-3px;
        right:-3px
    }
}
@media (max-width:1439px){
    .navbar{
        height:90px
    }
}
@media (max-width:1199px){
    .navbar{
        height:80px;
        padding:1.5rem 40px 1.5rem 0
    }
}
@media (max-width:767px){
    .navbar{
        height: 90px;
        padding:15px;
    }
}
#app-container.main-hidden .menu-button .main,#app-container.main-hidden .menu-button .sub,#app-container.menu-hidden .menu-button .main,#app-container.menu-hidden .menu-button .sub,#app-container.menu-sub-hidden .menu-button .sub,#app-container.sub-hidden .menu-button .sub{
    fill:#878787
}
.sidebar{
    position:fixed;
    top:0;
    bottom:0;
    padding-top: 88px;
    z-index:5;
}
.sidebar .main-menu{
    width:120px;
    height:100%;
    background:#fff;
    z-index:3;
    position:fixed;
    transition:transform .3s;
    padding-top:2px;
    left:0
}
.sidebar .main-menu .scroll{
    padding-right:unset;
    margin-right:unset
}
.sidebar .main-menu .scroll .ps__thumb-y{
    right:0
}
.sidebar .main-menu ul li{
    position:relative
}
.sidebar .main-menu ul li span{
    text-align:center;
    padding:0 10px;
    line-height:14px
}
.sidebar .main-menu ul li a{
    height:110px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:13px;
    font-style:normal;
    font-weight:400;
    border-bottom:1px solid #f3f3f3;
    color:#545454;
    transition:color .3s;
    transition:background .3s
}
.sidebar .main-menu ul li a:focus,.sidebar .main-menu ul li a:hover{
    color:#333333;
    background:#f8f8f8
}
.sidebar .main-menu ul li i{
    font-size:32px;
    line-height:42px
}
.sidebar .main-menu ul li.active a{
    color:#333333
}
.sidebar .main-menu ul li.active:after{
    content:" ";
    background:#333333;
    color:#fff;
    border-radius:10px;
    position:absolute;
    width:6px;
    height:90px;
    top:50%;
    transform:translateY(-50%);
    left:0
}
@media (max-width:1439px){
    .sidebar .main-menu{
        width:110px
    }
}
@media (max-width:1199px){
    .sidebar .main-menu{
        width:100px
    }
}
@media (max-width:767px){
    .sidebar .main-menu{
        width:90px
    }
    .sidebar .main-menu ul li i{
        font-size:26px;
        line-height:30px
    }
    .sidebar .main-menu ul li a{
        height:90px
    }
    .sidebar .main-menu ul li.active:after{
        width:3px;
        height:60px
    }
}
.sidebar .sub-menu{
    width:230px;
    height:100%;
    background:#fff;
    z-index:2;
    position:fixed;
    left:120px;
    border-left:1px solid #f3f3f3;
    box-shadow:0 3px 30px rgba(0,0,0,.1),0 3px 20px rgba(0,0,0,.1);
    transition:transform .3s
}
.sidebar .sub-menu .scroll{
    margin-top:2px;
    margin-right:unset;
    padding-right:unset
}
.sidebar .sub-menu .scroll .ps__thumb-y{
    right:0
}
.sidebar .sub-menu .ps{
    padding-top:25px;
    padding-bottom:25px
}
.sidebar .sub-menu ul{
    display:none
}
.sidebar .sub-menu ul li{
    margin-bottom:10px;
    margin-left:30px
}
.sidebar .sub-menu ul li a{
    font-size:13px;
    display:block;
    padding:8px 0
}
.sidebar .sub-menu ul li i{
    font-size:1.2em;
    margin-right:10px;
    color:#6e6e6e;
    vertical-align:unset
}
.sidebar .sub-menu ul li.active a,.sidebar .sub-menu ul li.active i{
    color:#333333
}
@media (max-width:767px){
    .sidebar .sub-menu ul li{
        margin-left:15px
    }
}
@media (max-width:1439px){
    .sidebar .sub-menu{
        left:110px;
        width:220px
    }
}
@media (max-width:1199px){
    .sidebar .sub-menu{
        left:100px;
        width:200px
    }
}
@media (max-width:767px){
    .sidebar .sub-menu{
        left:90px;
        width:190px
    }
}
@media (max-width:1439px){
    .sidebar{
        padding-top:90px
    }
}
@media (max-width:1199px){
    .sidebar{
        padding-top:80px
    }
}
@media (max-width:767px){
    .sidebar{
        padding-top:70px;
        box-shadow:0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04)
    }
}
#app-container.menu-hidden .sub-menu,#app-container.menu-sub-hidden .sub-menu,#app-container.sub-hidden .sub-menu{
    transform:translateX(-230px)
}
@media (max-width:1439px){
    #app-container.menu-hidden .sub-menu,#app-container.menu-sub-hidden .sub-menu,#app-container.sub-hidden .sub-menu{
        transform:translateX(-220px)
    }
}
@media (max-width:1199px){
    #app-container.menu-hidden .sub-menu,#app-container.menu-sub-hidden .sub-menu,#app-container.sub-hidden .sub-menu{
        transform:translateX(-200px)
    }
}
@media (max-width:767px){
    #app-container.menu-hidden .sub-menu,#app-container.menu-sub-hidden .sub-menu,#app-container.sub-hidden .sub-menu{
        transform:translateX(-190px)
    }
}
#app-container.main-hidden .main-menu,#app-container.menu-hidden .main-menu{
    transform:translateX(-120px)
}
@media (max-width:1439px){
    #app-container.main-hidden .main-menu,#app-container.menu-hidden .main-menu{
        transform:translateX(-110px)
    }
}
@media (max-width:1199px){
    #app-container.main-hidden .main-menu,#app-container.menu-hidden .main-menu{
        transform:translateX(-100px)
    }
}
@media (max-width:767px){
    #app-container.main-hidden .main-menu,#app-container.menu-hidden .main-menu{
        transform:translateX(-90px)
    }
}
#app-container.main-hidden.sub-hidden .sub-menu,#app-container.menu-hidden .sub-menu{
    transform:translateX(-350px)
}
@media (max-width:1439px){
    #app-container.main-hidden.sub-hidden .sub-menu,#app-container.menu-hidden .sub-menu{
        transform:translateX(-330px)
    }
}
@media (max-width:1199px){
    #app-container.main-hidden.sub-hidden .sub-menu,#app-container.menu-hidden .sub-menu{
        transform:translateX(-300px)
    }
}
@media (max-width:767px){
    #app-container.main-hidden.sub-hidden .sub-menu,#app-container.menu-hidden .sub-menu{
        transform:translateX(-280px)
    }
}
#app-container.menu-mobile .main-menu{
    transform:translateX(-90px)
}
#app-container.menu-mobile .sub-menu{
    transform:translateX(-330px)
}
#app-container.main-show-temporary .main-menu{
    transform:translateX(0)
}
#app-container.main-show-temporary .sub-menu{
    transform:translateX(-230px)
}
@media (max-width:1439px){
    #app-container.main-show-temporary .main-menu{
        transform:translateX(0)
    }
    #app-container.main-show-temporary .sub-menu{
        transform:translateX(-220px)
    }
}
@media (max-width:1199px){
    #app-container.main-show-temporary .main-menu{
        transform:translateX(0)
    }
    #app-container.main-show-temporary .sub-menu{
        transform:translateX(-200px)
    }
}
@media (max-width:767px){
    #app-container.main-show-temporary .sub-menu{
        transform:translateX(-190px)
    }
}
#app-container.menu-mobile.sub-show-temporary .sub-menu,#app-container.sub-show-temporary .sub-menu{
    transform:translateX(0)
}
.app-menu{
    z-index:1;
    box-shadow:0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
    width:280px;
    height:100%;
    float:right;
    background:#fff;
    transition:transform .3s;
    position:fixed;
    right:0;
    top:120px
}
@media (max-width:1439px){
    .app-menu{
        top:90px
    }
}
@media (max-width:1199px){
    .app-menu{
        top:80px;
        transform:translateX(280px)
    }
}
@media (max-width:767px){
    .app-menu{
        top:70px
    }
}
.app-menu .scroll .ps__thumb-y{
    right:0
}
.app-menu.shown{
    transform:translateX(0)
}
.app-menu .app-menu-button{
    position:absolute;
    left:-28px;
    background:#fff;
    top:45px;
    padding:12px 8px 12px 5px;
    border-radius:.2rem;
    color:#8f8f8f;
    box-shadow:-2px 0 5px rgba(0,0,0,.04);
    font-size:15px;
    line-height:0
}
@media (max-width:1439px){
    .app-menu .app-menu-button{
        top:36px
    }
}
@media (max-width:1199px){
    .app-menu .app-menu-button{
        top:27px
    }
}
@media (max-width:767px){
    .app-menu .app-menu-button{
        top:13px
    }
}
.app-menu ul li{
    margin-bottom:5px
}
.app-menu ul li a{
    font-size:13px;
    display:block;
    padding:3px 0
}
.app-menu ul li a:hover i{
    color:#333333
}
.app-menu ul li i{
    font-size:1.2em;
    margin-right:10px;
    color:#6e6e6e;
    vertical-align:unset
}
@media (max-width:767px){
    .app-menu ul li i{
        font-size:20px
    }
}
.app-menu ul li.active a,.app-menu ul li.active i{
    color:#333333
}
.app-row{
    padding-right:280px
}
@media (max-width:1199px){
    .app-row{
        padding-right:0
    }
}
.chat-app .scroll{
    padding-left:10px;
    margin-left:-10px;
    padding-right:10px;
    margin-right:-10px;
    height:calc(100vh - 120px - 270px)
}
@media (max-width:1439px){
    .chat-app .scroll{
        height:calc(100vh - 90px - 270px)
    }
}
@media (max-width:1199px){
    .chat-app .scroll{
        height:calc(100vh - 80px - 270px)
    }
}
@media (max-width:767px){
    .chat-app .scroll{
        height:calc(100vh - 70px - 220px)
    }
}
.chat-app .scroll .ps__thumb-y{
    right:10px
}
@media (max-width:767px){
    .chat-app .list-item-heading{
        font-size:.9rem
    }
}
@media (max-width:767px){
    .chat-app .card .card-body{
        padding:.75rem
    }
}
.chat-app .chat-text-left{
    padding-left:64px
}
.chat-app .chat-text-right{
    padding-right:64px
}
.chat-input-container{
    width:100%;
    height:90px;
    background:#fff;
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    box-shadow:0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
    padding-left:180px;
    padding-right:340px
}
@media (max-width:1439px){
    .chat-input-container{
        padding-left:160px;
        padding-right:330px
    }
}
@media (max-width:1199px){
    .chat-input-container{
        padding-left:140px;
        padding-right:40px
    }
}
@media (max-width:767px){
    .chat-input-container{
        padding-right:15px;
        padding-left:15px
    }
}
.chat-input-container input{
    border:initial;
    width:unset;
    height:90px;
    padding-left:0;
    display:inline-block
}
@media (max-width:991px){
    .chat-input-container .send-button{
        padding-left:.7rem;
        padding-right:.7rem
    }
}
.survey-app .answers .badge{
    color:#8f8f8f
}
.survey-app .answers input{
    padding-right:70px
}
.survey-app .question.edit-quesiton .edit-mode{
    display:block
}
.survey-app .question.edit-quesiton .view-mode{
    display:none
}
.survey-app .question.edit-quesiton .view-button{
    display:inline-block
}
.survey-app .question.edit-quesiton .edit-button,.survey-app .question.view-quesiton .edit-mode{
    display:none
}
.survey-app .question.view-quesiton .view-mode{
    display:block
}
.survey-app .question.view-quesiton .view-button{
    display:none
}
.survey-app .question.view-quesiton .edit-button{
    display:inline-block
}
.survey-app .survey-question-types .btn-group-icon{
    font-size:21px;
    line-height:28px
}
.survey-app .survey-question-types .btn{
    padding-bottom:.3rem
}
.input-icons{
    position:absolute;
    right:0;
    top:9px
}
.heading-icon{
    font-size:20px;
    line-height:inherit;
    margin-right:5px
}
.heading-icon,.heading-number{
    color:#333333;
    vertical-align:middle
}
.heading-number{
    border:1px solid #333333;
    padding:4px;
    margin-right:10px;
    border-radius:20px;
    width:34px;
    height:34px;
    text-align:center
}
main{
    margin:115px 60px 40px 410px;
    transition:margin-left .3s
}
main .container-fluid{
    padding-left:0;
    padding-right:0
}
@media (max-width:1439px){
    main{
        margin:130px 50px 30px 380px
    }
}
@media (max-width:1199px){
    main{
        margin:110px 40px 20px 340px
    }
}
@media (max-width:767px){
    main{
        margin-left:15px!important;
        margin-right:15px!important;
        margin-top:85px!important;
        margin-bottom:0
    }
}
@media (max-width:575px){
    main{
        margin-bottom:0
    }
}
#app-container.menu-hidden main,#app-container.menu-sub-hidden main,#app-container.sub-hidden main{
    margin-left:180px
}
#app-container.main-hidden main,#app-container.menu-hidden main{
    margin-left:60px
}
@media (max-width:1439px){
    #app-container.menu-hidden main,#app-container.menu-sub-hidden main,#app-container.sub-hidden main{
        margin-left:160px
    }
    #app-container.main-hidden main,#app-container.menu-hidden main{
        margin-left:50px
    }
}
@media (max-width:1199px){
    #app-container.menu-hidden main,#app-container.menu-sub-hidden main,#app-container.sub-hidden main{
        margin-left:140px
    }
    #app-container.main-hidden main,#app-container.menu-hidden main{
        margin-left:40px
    }
}
.card{
    border:initial;
    background:#fff;
    border-radius:calc(.15rem - 1px);
    box-shadow:0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04)
}
.card .card-header .card-icon{
    right:5px;
    top:5px
}
.card .card-header .card-icon i{
    font-size:12px;
    color:#d7d7d7
}
.card .card-header .handle{
    cursor:default
}
.card .card-body{
    padding:1.75rem
}
@media (max-width:575px){
    .card .card-body{
        padding:1.5rem
    }
}
.card .card-body.sm{
    padding:1.25rem 1.75rem
}
.card .card-title{
    margin-bottom:2rem
}
.card-img{
    border-radius:calc(.25rem - 1px);
    height:100%;
    object-fit:cover;
    max-height:200px;
    width:unset
}
.card-img-bottom{
    width:100%;
    border-bottom-left-radius:calc(.15rem - 1px);
    border-bottom-right-radius:calc(.15rem - 1px)
}
.card-img-top{
    border-top-right-radius:calc(.15rem - 1px)
}
.card-img-left,.card-img-top{
    width:100%;
    border-top-left-radius:calc(.15rem - 1px)
}
.card-img-left{
    border-bottom-left-radius:calc(.15rem - 1px);
    height:100%;
    object-fit:cover
}
.card-img-right{
    width:100%;
    border-top-right-radius:calc(.15rem - 1px);
    border-bottom-right-radius:calc(.15rem - 1px);
    height:100%;
    object-fit:cover
}
.card-img-overlay{
    background:rgba(0,0,0,.5);
    padding:1.75rem
}
@media (max-width:575px){
    .card-img-overlay{
        padding:1rem
    }
}
.card-top-buttons{
    padding:1.3rem;
    right:0;
    top:0
}
@media (max-width:575px){
    .card-top-buttons{
        padding:.35rem
    }
}
.card-header{
    border:initial;
    background:initial;
    padding-top:0
}
.dashboard-line-chart{
    height:283px
}
.dashboard-quick-post{
    min-height:283px
}
.dashboard-list-with-thumbs{
    height:500px
}
.dashboard-donut-chart,.dashboard-list-with-user,.dashboard-logs{
    height:270px
}
.dashboard-small-chart{
    height:150px
}
.dashboard-small-chart .chart{
    height:60px
}
.dashboard-small-chart .lead{
    font-size:1.4rem
}
.dashboard-small-chart-analytics{
    height:180px
}
.dashboard-small-chart-analytics .chart{
    height:80px
}
.dashboard-small-chart-analytics .lead{
    font-size:1.4rem
}
.dashboard-filled-line-chart{
    height:340px
}
.dashboard-filled-line-chart .chart{
    height:200px
}
.dashboard-numbers .owl-dots,.dashboard-numbers .owl-nav{
    display:none
}
.dashboard-sq-banner{
    background-image:linear-gradient(to right top,#104978,#3582b2,#3693ce);
    background-size:cover;
    height:385px;
    transition:.5s;
    background-size:350% auto;
    cursor:pointer
}
.dashboard-sq-banner .card-body{
    width:270px
}
.dashboard-sq-banner .lead{
    line-height:2.3rem
}
.dashboard-sq-banner:hover{
    background-position:100% 0
}
.dashboard-link-list,.dashboard-progress{
    height:385px
}
.dashboard-top-rated{
    height:300px
}
.dashboard-search{
    height:650px;
    background:url(../img/plane.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    background-color:#fff
}
.dashboard-search .card-body{
    padding:120px 50px 30px
}
@media (max-width:1439px){
    .dashboard-search .card-body{
        padding:80px 30px 30px
    }
}
.dashboard-search .form-container{
    height:400px;
    border-radius:.1rem;
    box-shadow:0 -10px 15px 0 rgba(0,0,0,.04);
    padding:2rem;
    background-color:#fff
}
.icon-cards-row{
    margin-left:-5px;
    margin-right:-5px;
    margin-top:-10px
}
.icon-cards-row .owl-stage{
    padding-top:10px
}
.icon-cards-row [class*=col-]{
    padding-left:5px;
    padding-right:5px
}
.icon-cards-row .card-body{
    padding:2rem .5rem
}
.icon-cards-row .card-text{
    color:#8f8f8f;
    height:30px;
    line-height:26px
}
.icon-cards-row .lead{
    color:#333333;
    margin-bottom:0
}
.icon-cards-row i{
    font-size:46px;
    line-height:66px;
    color:#333333
}
.icon-cards-row .card{
    transition:box-shadow 1s;
    cursor:pointer
}
@media (max-width:1439px){
    .icon-cards-row .card-text{
        height:48px;
        line-height:18px
    }
    .icon-cards-row .lead{
        font-size:1.6rem
    }
    .icon-cards-row i{
        font-size:32px;
        line-height:47px
    }
}
.log-indicator{
    width:13px;
    height:13px;
    border:2px solid #333333;
    border-radius:14px;
    display:inline-block
}
.calendar .alert-info{
    color:#333333;
    background-color:initial
}
.calendar h2{
    font-size:14px;
    margin-top:10px;
    display:inline-block
}
.fc-basic-view .fc-body .fc-row{
    min-height:6em
}
@media (max-width:575px){
    .fc-basic-view .fc-body .fc-row{
        min-height:3em
    }
}
.fc-toolbar.fc-header-toolbar .btn-group .fc-next-button,.fc-toolbar.fc-header-toolbar .btn-group .fc-prev-button{
    outline:initial!important;
    box-shadow:none!important;
    border-radius:40px!important;
    text-align:center;
    min-width:30px;
    height:30px;
    padding:.55rem 0;
    background:#333333;
    color:#fff;
    border:1px solid #333333;
    line-height:.9!important;
    font-size:.76rem;
    font-weight:400!important
}
.fc-toolbar.fc-header-toolbar .btn-group .fc-next-button span,.fc-toolbar.fc-header-toolbar .btn-group .fc-prev-button span{
    line-height:.9!important;
    font-size:.76rem;
    font-weight:400!important
}
.fc-toolbar.fc-header-toolbar .btn-group .fc-next-button:hover,.fc-toolbar.fc-header-toolbar .btn-group .fc-prev-button:hover{
    background-color:transparent;
    border-color:#1b6eb4;
    color:#333333
}
.fc-toolbar.fc-header-toolbar .fc-prev-button{
    margin-right:5px
}
.fc-today-button{
    padding:.4em 1.3em!important;
    height:unset!important
}
.fc-bootstrap4 .fc-day-top .fc-day-number{
    border-radius:50%;
    width:18px;
    height:18px;
    text-align:center;
    vertical-align:middle;
    padding:5px
}
.fc-bootstrap4 td.fc-today{
    background:initial
}
.fc-bootstrap4 td.fc-today .fc-day-number{
    background:#333333;
    color:#fff
}
.fc-day-grid-container{
    height:100%;
    overflow:visible
}
.fc-row .fc-content-skeleton td,.fc-row .fc-helper-skeleton td{
    padding:5px
}
.fc-view,.fc-view>table{
    border-top:initial
}
.fc table{
    border:initial
}
.fc .table-bordered thead td,.fc .table-bordered thead th{
    border-top:initial;
    border-bottom:initial;
    border-left:initial
}
.fc td:first-of-type,.fc th:first-of-type{
    border-left:initial;
    border-bottom:initial
}
.fc td:last-of-type,.fc th:last-of-type{
    border-right:initial;
    border-bottom:initial
}
.fc-body .fc-row:last-of-type td{
    border-bottom:initial
}
.fc tbody>tr>td.fc-widget-content:first-of-type{
    border-left:initial;
    border-right:initial;
    border-bottom:initial
}
.fc .table-bordered td,.fc .table-bordered th,.fc table{
    border-color:#f3f3f3!important
}
.fc-day-header{
    color:#333333
}
.fc-day-header span{
    padding:10px;
    display:inline-block
}
.fc-event{
    border:initial
}
.fc-event,.fc-event-dot{
    background-color:#2a93d5;
    color:#fff!important;
    padding:1px 6px;
    border-radius:10px;
    cursor:pointer;
    text-align:center
}
.dataTables_wrapper{
    overflow:hidden
}
table.dataTable td{
    padding-top:5px;
    padding-bottom:0;
    border-bottom:1px solid #f3f3f3;
    outline:initial!important
}
table.dataTable tr:last-of-type td{
    border-bottom:initial
}
table.dataTable{
    width:100%!important;
    margin-top:0!important;
    margin-bottom:0!important
}
table h6,table p{
    margin-bottom:0
}
table.dataTable thead>tr>td.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc{
    padding-top:10px;
    padding-bottom:10px
}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_desc_disabled:after{
    right:1.5em
}
table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc_disabled:before{
    right:2em
}
.dataTables_wrapper .paginate_button.previous{
    margin-right:15px
}
.dataTables_wrapper .paginate_button.next{
    margin-left:15px
}
div.dataTables_wrapper div.dataTables_paginate{
    margin-top:25px
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    justify-content:center
}
.dataTables_wrapper .paginate_button.page-item{
    padding-left:10px;
    padding-right:10px
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before{
    top:unset;
    box-shadow:none;
    background-color:#333333;
    font-size:12px
}
.alert{
    border-radius:0
}
.alert-primary{
    color:#333333;
    background-color:#a9d1f2;
    border-color:#a9d1f2
}
.alert-secondary{
    color:#2a93d5;
    background-color:#d4e9f7;
    border-color:#d4e9f7
}
.alert [data-notify=title]{
    display:block;
    font-size:.9rem
}
div[data-notify=container]{
    padding:18px
}
.custom-control-label,.form-check-label{
    line-height:24px
}
.bootstrap-tagsinput,.form-control{
    border-radius:.1rem;
    outline:initial!important;
    box-shadow:none!important;
    font-size:.8rem;
    padding:.75rem .75rem .5rem;
    line-height:1.5;
    border:1px solid #d7d7d7;
    background:#fff;
    color:#212121
}
.bootstrap-tagsinput input{
    color:#212121
}
.has-float-label>span:after,.has-float-label label:after{
    background:#fff
}
.form-control:focus{
    background:#fff;
    color:#212121
}
.bootstrap-tagsinput{
    width:100%
}
.bootstrap-tagsinput input{
    padding:0
}
.bootstrap-tagsinput .tag [data-role=remove]:hover{
    box-shadow:none
}
.bootstrap-tagsinput .tag{
    background:#333333;
    border-radius:15px;
    padding:0 10px;
    margin-bottom:0;
    display:inline-block;
    font-size:12px
}
.bootstrap-tagsinput.focus,.form-control:focus{
    border-color:#50a1e5
}
select.form-control:not([size]):not([multiple]){
    height:calc(2.4rem + 3px)
}
.custom-control-input,.custom-control-label{
    outline:initial!important;
    box-shadow:none!important
}
.custom-control-input{
    left:1px;
    top:3px;
    opacity:0;
    z-index:1
}
.custom-control-label:before{
    border:1px solid #909090;
    background:initial
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label:before{
    background-color:#333333
}
.custom-control-input:checked~.custom-control-label:before{
    background-color:#333333;
    box-shadow:none!important;
    border:1px solid #333333
}
.custom-checkbox .custom-control-input:checked~.custom-control-label:before,.custom-radio .custom-control-input:checked~.custom-control-label:before{
    background-color:#333333;
    box-shadow:none!important
}
.custom-control-label:after,.custom-control-label:before{
    box-shadow:none!important;
    top:.25rem
}
.btn.rotate-icon-click i{
    transition:transform .5s
}
.btn.rotate i{
    transform:rotate(180deg)
}
.btn .custom-control-input:checked~.custom-control-label:before,.btn .custom-control-label:before{
    border:1px solid #fff
}
.btn-group-icon{
    line-height:22px
}
.invalid-tooltip,.valid-tooltip{
    border-radius:15px;
    padding:.5rem 1rem;
    left:50%;
    transform:translateX(-50%);
    font-size:.76rem
}
.valid-tooltip{
    background-color:#28a745;
    margin-top:-.2rem
}
.invalid-tooltip{
    background-color:#dc3545;
    margin-top:-.2rem
}
.valid-tooltip:after{
    border-bottom:5px solid #28a745
}
.invalid-tooltip:after,.valid-tooltip:after{
    content:"";
    position:absolute;
    top:-5px;
    left:-2.5px;
    margin-left:50%;
    width:10px;
    height:5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent
}
.invalid-tooltip:after{
    border-bottom:5px solid #dc3545
}
.valid-icon{
    bottom:8px;
    font-size:.76rem;
    color:#fff;
    color:#28a745
}
.invalid-icon,.valid-icon{
    position:absolute;
    z-index:5;
    display:none;
    max-width:100%;
    padding:.5rem;
    margin-top:0;
    line-height:1;
    border-radius:.2rem;
    right:4px
}
.invalid-icon{
    bottom:2px;
    font-size:.875rem;
    color:#fff;
    color:#dc3545
}
.custom-select.is-invalid~.invalid-feedback,.custom-select.is-invalid~.invalid-icon,.custom-select.is-valid~.valid-feedback,.custom-select.is-valid~.valid-icon,.form-control.is-invalid~.invalid-feedback,.form-control.is-invalid~.invalid-icon,.form-control.is-valid~.valid-feedback,.form-control.is-valid~.valid-icon,.was-validated .custom-select:invalid~.invalid-feedback,.was-validated .custom-select:invalid~.invalid-icon,.was-validated .custom-select:valid~.valid-feedback,.was-validated .custom-select:valid~.valid-icon,.was-validated .form-control:invalid~.invalid-feedback,.was-validated .form-control:invalid~.invalid-icon,.was-validated .form-control:valid~.valid-feedback,.was-validated .form-control:valid~.valid-icon{
    display:block
}
.select2-container--bootstrap .select2-selection--single{
    padding:.65rem .75rem .5rem;
    height:calc(2.4rem + 3px);
    border-radius:.1rem!important
}
.select2-container--bootstrap .select2-selection.form-control,.select2-dropdown{
    background:#fff
}
.select2-container--bootstrap .select2-results__option[aria-selected=true],.select2-container--bootstrap .select2-search--dropdown .select2-search__field{
    background:#fff;
    color:#212121
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    color:#212121
}
.input-group-text{
    background-color:#fff;
    border-color:#d7d7d7;
    color:#212121;
    font-size:.8rem;
    padding:.75rem .75rem .5rem
}
.select2-container--bootstrap .select2-selection{
    border:1px solid #d7d7d7
}
.select2-container{
    width:100%!important
}
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{
    height:calc(2.4rem + 1px)
}
.select2-container--bootstrap.select2-container--focus .select2-selection,.select2-container--bootstrap.select2-container--open .select2-selection,.select2-container--bootstrap .select2-dropdown{
    border-color:#50a1e5
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{
    background-color:#333333;
    color:#fff
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field,.select2-container--bootstrap .select2-selection.form-control,.select2-dropdown{
    border-radius:.1rem!important
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{
    border-radius:.1rem;
    margin:9px 0 0 8px
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field{
    border:1px solid #8f8f8f;
    outline:initial
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left:0;
    padding-right:10px
}
.datepicker-dropdown:before{
    border-bottom-color:rgba(33,33,33,.2)
}
.datepicker-dropdown.datepicker-orient-top:before{
    border-top:7px solid rgba(33,33,33,.2)
}
.datepicker table tr td,.datepicker table tr th{
    color:#212121
}
.datepicker-dropdown.datepicker-orient-top:after{
    border-top-color:#fff
}
.datepicker-dropdown.datepicker-orient-bottom:after{
    border-bottom-color:#fff
}
.datepicker table tr td.day:hover,.datepicker table tr td.focused{
    background:#d7d7d7
}
.datepicker table tr td,.datepicker table tr th{
    width:35px;
    height:35px;
    border-radius:.1rem
}
.datepicker table tr td.active.active,.datepicker table tr td.active.highlighted.active,.datepicker table tr td.active.highlighted:active,.datepicker table tr td.active:active{
    color:#fff;
    background-color:#333333;
    border-color:#333333
}
.datepicker table tr td.active.active.focus,.datepicker table tr td.active.active:focus,.datepicker table tr td.active.active:hover,.datepicker table tr td.active.highlighted.active.focus,.datepicker table tr td.active.highlighted.active:focus,.datepicker table tr td.active.highlighted.active:hover,.datepicker table tr td.active.highlighted:active.focus,.datepicker table tr td.active.highlighted:active:focus,.datepicker table tr td.active.highlighted:active:hover,.datepicker table tr td.active:active.focus,.datepicker table tr td.active:active:focus,.datepicker table tr td.active:active:hover{
    color:#fff;
    background-color:#0d385c;
    border-color:#0d385c
}
.datepicker table tr td span.active.active,.datepicker table tr td span.active.disabled.active,.datepicker table tr td span.active.disabled:active,.datepicker table tr td span.active.disabled:hover.active,.datepicker table tr td span.active.disabled:hover:active,.datepicker table tr td span.active:active,.datepicker table tr td span.active:hover.active,.datepicker table tr td span.active:hover:active{
    background-color:#0d385c;
    border-color:#0d385c
}
.datepicker.datepicker-inline,.datepicker.datepicker-inline table{
    width:100%
}
.datepicker .datepicker-switch:hover,.datepicker .next:hover,.datepicker .prev:hover,.datepicker table tr td span.focused,.datepicker table tr td span:hover,.datepicker tfoot tr th:hover{
    background:#d7d7d7
}
.dropzone{
    min-height:115px;
    border:1px solid #d7d7d7;
    background:#fff;
    padding:10px;
    border-radius:.1rem;
    color:#212121;
    height:115px
}
.dropzone.dz-clickable .dz-message,.dropzone.dz-clickable .dz-message *{
    position:relative;
    transform:translateY(-50%);
    top:50%;
    margin:0
}
.dropzone .dz-preview.dz-image-preview{
    width:260px;
    height:unset;
    min-height:unset;
    border:1px solid #d7d7d7;
    border-radius:.1rem;
    background:#fff;
    color:#212121
}
.dropzone .dz-preview.dz-image-preview strong{
    font-weight:400
}
.dropzone .dz-preview.dz-image-preview .remove{
    position:absolute;
    right:5px;
    top:5px;
    color:#333333
}
.dropzone .dz-preview.dz-image-preview .dz-details{
    position:static;
    display:block;
    opacity:1;
    text-align:left;
    min-width:unset;
    z-index:auto;
    color:#212121
}
.dropzone .dz-preview.dz-image-preview .dz-error-mark{
    color:#fff;
    transform:translateX(-50%) translateY(-50%)!important;
    transition:initial!important;
    animation:initial!important;
    margin-left:0;
    margin-top:0
}
.dropzone .dz-preview.dz-image-preview .dz-error-mark i{
    font-size:26px
}
.dropzone .dz-preview.dz-image-preview .dz-progress{
    width:90%;
    margin-left:0;
    margin-top:0;
    left:50%;
    right:0;
    transform:translateX(-50%);
    height:5px
}
.dropzone .dz-preview.dz-image-preview .dz-progress .dz-upload{
    width:100%;
    background:#333333
}
.dropzone .dz-preview.dz-image-preview .dz-error-message{
    border-radius:15px;
    background:#dc3545;
    top:60px
}
.dropzone .dz-preview.dz-image-preview .dz-error-message:after{
    border-bottom:6px solid #dc3545
}
.dropzone .dz-preview.dz-image-preview [data-dz-name]{
    white-space:nowrap;
    text-overflow:ellipsis;
    width:90%;
    display:inline-block;
    overflow:hidden
}
.custom-switch .custom-switch-input+.custom-switch-btn{
    background:#d7d7d7
}
.custom-switch.custom-switch-primary .custom-switch-input:checked+.custom-switch-btn{
    background:#333333;
    border:1px solid #333333
}
.custom-switch.custom-switch-secondary .custom-switch-input:checked+.custom-switch-btn{
    background:#2a93d5;
    border:1px solid #2a93d5
}
.custom-switch.custom-switch-primary-inverse .custom-switch-input+.custom-switch-btn{
    border:1px solid #d7d7d7
}
.custom-switch.custom-switch-primary-inverse .custom-switch-input:checked+.custom-switch-btn{
    background:#fff;
    border:1px solid #333333
}
.custom-switch.custom-switch-primary-inverse .custom-switch-input:checked+.custom-switch-btn:after{
    background:#333333
}
.custom-switch.custom-switch-secondary-inverse .custom-switch-input+.custom-switch-btn{
    border:1px solid #d7d7d7
}
.custom-switch.custom-switch-secondary-inverse .custom-switch-input:checked+.custom-switch-btn{
    background:#fff;
    border:1px solid #2a93d5
}
.custom-switch.custom-switch-secondary-inverse .custom-switch-input:checked+.custom-switch-btn:after{
    background:#2a93d5
}
.input-group-text{
    border-radius:.1rem
}
.custom-switch .custom-switch-input+.custom-switch-btn:after{
    background:#fff
}
.custom-switch .custom-switch-input+.custom-switch-btn{
    border-color:#d7d7d7
}
.noUi-target{
    box-shadow:none
}
.noUi-target,.noUi-tooltip{
    background:#fff;
    border-color:#d7d7d7
}
.noUi-tooltip{
    color:#212121
}
.custom-select,.form-control-lg,.form-control-sm,.input-group-lg>.form-control,.input-group-lg>.input-group-append>.btn,.input-group-lg>.input-group-append>.input-group-text,.input-group-lg>.input-group-prepend>.btn,.input-group-lg>.input-group-prepend>.input-group-text,.input-group-sm>.form-control,.input-group-sm>.input-group-append>.btn,.input-group-sm>.input-group-append>.input-group-text,.input-group-sm>.input-group-prepend>.btn,.input-group-sm>.input-group-prepend>.input-group-text{
    border-radius:.1rem
}
.custom-select{
    padding:.75rem .75rem .5rem
}
.input-group>.custom-select:not(:first-child),.input-group>.form-control:not(:first-child){
    outline:initial!important;
    box-shadow:none!important
}
.custom-select{
    height:calc(2.5rem + 2px)
}
.custom-select:focus{
    border-color:#333333
}
.custom-file-input,.custom-file-label{
    box-shadow:none!important
}
.custom-file-label{
    border-radius:.1rem;
    padding:.75rem .75rem .5rem
}
.custom-file,.custom-file-label{
    height:calc(2.5rem + 2px)
}
.custom-file-input:focus,.custom-file-label:focus{
    border-color:#333333
}
.custom-file-label:after{
    height:calc((2.5rem + 2px) - 1px * 2);
    padding:.75rem .75rem .5rem
}
.jumbotron{
    background:initial
}
.has-float-label>span,.has-float-label label,.has-top-label>span,.has-top-label label{
    color:#6e6e6e
}
.noUi-connect{
    background:#333333
}
.noUi-connects{
    border-radius:.1rem
}
.noUi-handle:after,.noUi-handle:before{
    content:"";
    display:none
}
.noUi-handle{
    outline:initial;
    box-shadow:none!important
}
.noUi-horizontal{
    height:8px
}
.noUi-horizontal .noUi-handle{
    width:20px;
    height:20px;
    border-radius:20px;
    top:-7px
}
.noUi-horizontal .noUi-tooltip{
    top:120%;
    bottom:unset;
    padding-left:10px;
    padding-right:10px
}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    color:#fff;
    background-color:#333333
}
.nav-pills .nav-link{
    border-radius:50px
}
@media (max-width:767px){
    .nav-link{
        padding:.5rem
    }
}
.nav-link.active{
    color:#333333
}
.page-item{
    padding:10px
}
@media (max-width:767px){
    .page-item{
        padding:3px
    }
}
.page-item .page-link{
    outline:initial!important;
    box-shadow:none!important;
    line-height:1.7;
    border-radius:40px!important;
    min-width:38px;
    text-align:center;
    height:38px;
    padding:.55rem 0
}
@media (max-width:575px){
    .page-item .page-link{
        min-width:30px;
        height:30px;
        line-height:.9;
        font-size:.76rem
    }
}
.page-item .page-link.next,.page-item .page-link.prev{
    background:#333333;
    color:#fff;
    border:1px solid #333333
}
.page-item .page-link.first,.page-item .page-link.last{
    background:transparent;
    color:#333333;
    border:1px solid #333333;
    border-radius:30px
}
.page-item .page-link.first:hover,.page-item .page-link.last:hover{
    background:#333333;
    color:#fff;
    border:1px solid #333333
}
.page-item .page-link:hover{
    background-color:transparent;
    border-color:#1b6eb4;
    color:#333333
}
.page-item.active .page-link{
    background:transparent;
    border:1px solid #333333;
    color:#333333
}
.page-item.disabled .page-link{
    border-color:#d7d7d7;
    color:#d7d7d7;
    background:transparent
}
.page-link{
    background-color:transparent;
    border-color:transparent;
    color:#212121
}
.btn-sm.page-link{
    padding:.5rem
}
.pagination-lg .page-item{
    padding:15px
}
@media (max-width:767px){
    .pagination-lg .page-item{
        padding:3px
    }
}
.pagination-lg .page-item .page-link{
    min-width:50px;
    height:50px
}
@media (max-width:767px){
    .pagination-lg .page-item .page-link{
        min-width:38px;
        height:38px;
        padding:.55rem 0;
        line-height:1.5;
        font-size:.8rem
    }
}
@media (max-width:575px){
    .pagination-lg .page-item .page-link{
        min-width:30px;
        height:30px;
        line-height:.9;
        font-size:.76rem
    }
}
.pagination-sm .page-item{
    padding:6px
}
@media (max-width:767px){
    .pagination-sm .page-item{
        padding:3px
    }
}
.pagination-sm .page-item .page-link{
    min-width:30px;
    height:30px;
    line-height:.9;
    font-size:.76rem
}
.popover{
    border-radius:.1rem
}
.popover-header{
    background-color:transparent;
    border-bottom:initial
}
.tooltip-inner{
    padding:.5rem .75rem;
    color:#212121;
    background-color:#fff;
    border-radius:.1rem;
    border:1px solid #d7d7d7
}
.tooltip.show{
    opacity:1
}
.tooltip .arrow:after,.tooltip .arrow:before{
    position:absolute;
    display:block;
    content:"";
    border-color:transparent;
    border-style:solid
}
.bs-tooltip-auto[x-placement^=right] .arrow:after,.bs-tooltip-auto[x-placement^=right] .arrow:before,.bs-tooltip-right .arrow:after,.bs-tooltip-right .arrow:before{
    border-width:.5rem .5rem .5rem 0
}
.bs-tooltip-auto[x-placement^=right] .arrow:before,.bs-tooltip-right .arrow:before{
    left:0;
    border-right-color:rgba(0,0,0,.25)
}
.bs-tooltip-auto[x-placement^=right] .arrow:after,.bs-tooltip-right .arrow:after{
    left:1px;
    border-right-color:#fff
}
.bs-tooltip-auto[x-placement^=right] .arrow:after,.bs-tooltip-auto[x-placement^=right] .arrow:before,.bs-tooltip-right .arrow:after,.bs-tooltip-right .arrow:before{
    border-width:.4rem .4rem .4rem 0
}
.bs-tooltip-auto[x-placement^=top] .arrow:before,.bs-tooltip-top .arrow:before{
    bottom:0;
    border-top-color:rgba(0,0,0,.25)
}
.bs-tooltip-auto[x-placement^=top] .arrow:after,.bs-tooltip-auto[x-placement^=top] .arrow:before,.bs-tooltip-top .arrow:after,.bs-tooltip-top .arrow:before{
    border-width:.5rem .5rem 0
}
.bs-tooltip-auto[x-placement^=top] .arrow:after,.bs-tooltip-top .arrow:after{
    bottom:1px;
    border-top-color:#fff
}
.bs-tooltip-auto[x-placement^=top] .arrow:after,.bs-tooltip-auto[x-placement^=top] .arrow:before,.bs-tooltip-top .arrow:after,.bs-tooltip-top .arrow:before{
    border-width:.4rem .4rem 0
}
.bs-tooltip-auto[x-placement^=bottom] .arrow:before,.bs-tooltip-bottom .arrow:before{
    top:0;
    border-bottom-color:rgba(0,0,0,.25)
}
.bs-tooltip-auto[x-placement^=bottom] .arrow:after,.bs-tooltip-auto[x-placement^=bottom] .arrow:before,.bs-tooltip-bottom .arrow:after,.bs-tooltip-bottom .arrow:before{
    border-width:0 .5rem .5rem
}
.bs-tooltip-auto[x-placement^=bottom] .arrow:after,.bs-tooltip-bottom .arrow:after{
    top:1px;
    border-bottom-color:#fff
}
.bs-tooltip-auto[x-placement^=left] .arrow:before,.bs-tooltip-left .arrow:before{
    right:0;
    border-left-color:rgba(0,0,0,.25)
}
.bs-tooltip-auto[x-placement^=left] .arrow:after,.bs-tooltip-auto[x-placement^=left] .arrow:before,.bs-tooltip-left .arrow:after,.bs-tooltip-left .arrow:before{
    border-width:.5rem 0 .5rem .5rem
}
.bs-tooltip-auto[x-placement^=left] .arrow:after,.bs-tooltip-left .arrow:after{
    right:0;
    border-left-color:#fff
}
.search-sm{
    position:relative
}
.search-sm input{
    background:none;
    outline:initial!important;
    border:1px solid #8f8f8f;
    border-radius:15px;
    padding:.25rem .75rem;
    font-size:.76rem;
    line-height:1.3
}
.search-sm:after{
    font-family:simple-line-icons;
    content:"\E090";
    font-size:14px;
    color:#8f8f8f;
    position:absolute;
    right:10px;
    text-align:center;
    cursor:pointer;
    top:2px
}
.progress{
    height:15px
}
.progress-bar{
    background-color:#333333
}
.progressbar-text{
    position:absolute;
    left:0;
    width:50px;
    text-align:center;
    top:50%;
    transform:translateY(-50%);
    color:#212121!important
}
.progress-bar-circle{
    width:54px;
    height:54px
}
.progress-bar-circle svg path:first-of-type{
    stroke:#d7d7d7
}
.progress-bar-circle svg path:last-of-type{
    stroke:#333333
}
.progress-bar-circle.progress-bar-banner svg path:first-of-type{
    stroke:#0c304e
}
.progress-bar-circle.progress-bar-banner svg path:last-of-type{
    stroke:#fff
}
.progress-banner{
    height:200px;
    background-image:linear-gradient(to right top,#104978,#3582b2,#3693ce);
    transition:.5s;
    background-size:200% auto;
    cursor:pointer
}
.progress-banner .lead{
    font-size:1.5rem;
    margin-bottom:.5rem
}
@media (max-width:1199px){
    .progress-banner .lead{
        font-size:1.2rem;
        margin-bottom:.2rem
    }
}
.progress-banner i{
    font-size:2.7rem;
    margin-bottom:1rem
}
@media (max-width:1199px){
    .progress-banner i{
        font-size:2rem;
        margin-bottom:.2rem
    }
}
.progress-banner .progress-bar-circle.progress-bar-banner{
    width:120px;
    height:120px
}
@media (max-width:1199px){
    .progress-banner .progress-bar-circle.progress-bar-banner{
        width:80px;
        height:80px
    }
}
.progress-banner .progress-bar-banner .progressbar-text{
    color:#fff!important;
    font-size:1.7rem;
    width:110px;
    font-weight:300
}
@media (max-width:1199px){
    .progress-banner .progress-bar-banner .progressbar-text{
        font-size:1.2rem;
        margin-bottom:.2rem
    }
}
.progress-banner:hover{
    background-position:100% 0
}
.br-theme-bootstrap-stars .br-widget a.br-active:after,.br-theme-bootstrap-stars .br-widget a.br-selected:after{
    color:#333333;
    font-weight:900
}
.sortable{
    cursor:default
}
.sortable span{
    vertical-align:middle
}
.sortable-ghost{
    opacity:.5
}
.spinner{
    width:36px;
    text-align:center
}
.spinner>div{
    width:6px;
    height:6px;
    background-color:#fff;
    border-radius:100%;
    display:inline-block;
    animation:a 1.2s infinite ease-in-out both
}
.spinner .bounce1{
    animation-delay:-.32s
}
.spinner .bounce2{
    animation-delay:-.16s
}
@keyframes a{
    0%,80%,to{
        transform:scale(0)
    }
    40%{
        transform:scale(1)
    }
}
.cropper-line,.cropper-point{
    background-color:#333333
}
.cropper-view-box{
    outline-color:#333333;
    outline:#333333
}
.cropper-preview{
    overflow:hidden
}
#cropperContainer{
    height:300px;
    display:none
}
.modal .modal-body,.modal .modal-footer,.modal .modal-header{
    padding:1.75rem
}
.modal .modal-header{
    border-bottom:1px solid #d7d7d7
}
.modal .modal-footer{
    border-top:1px solid #d7d7d7
}
.modal .close{
    color:#212121;
    text-shadow:none
}
.modal .modal-content{
    border:initial;
    border-radius:.1rem;
    background:#fff
}
.modal-right{
    padding-right:0!important
}
.modal-right .modal-dialog{
    margin:0 auto;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    height:100%;
    max-width:380px
}
.modal-right .modal-content{
    min-height:100%
}
.modal-right .modal-header{
    height:120px
}
@media (max-width:1439px){
    .modal-right .modal-header{
        height:90px
    }
}
@media (max-width:1199px){
    .modal-right .modal-header{
        height:80px
    }
}
@media (max-width:767px){
    .modal-right .modal-header{
        height:70px
    }
}
.modal-right .modal-footer{
    justify-content:center
}
.modal-right.modal.fade .modal-dialog{
    transform:translate(25%)
}
.modal-right.modal.show .modal-dialog{
    transform:translate(0)
}
.modal-left .modal-dialog{
    margin:0 auto;
    margin-left:0;
    margin-top:0;
    margin-bottom:0;
    height:100%;
    max-width:380px
}
.modal-left .modal-content{
    min-height:100%
}
.modal-left .modal-header{
    height:120px
}
.modal-left .modal-footer{
    justify-content:center
}
.modal-left.modal.fade .modal-dialog{
    transform:translate(-25%)
}
.modal-left.modal.show .modal-dialog{
    transform:translate(0)
}
.auth-card{
    display:flex;
    flex-direction:row;
    box-shadow:0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04)
}
.auth-card .image-side{
    width:40%;
    background:url(../img/login.jpg) no-repeat top;
    background-size:cover;
    padding:80px 40px;
  
}
.auth-card .image-side .h3{
    line-height:.8rem
}
.auth-card .form-side{
    width:100%;
    padding:50px 80px
}
@media (max-width:991px){
    .auth-card{
        flex-direction:column
    }
    .auth-card .form-side,.auth-card .image-side{
        width:100%;
        padding:60px
    }
}
@media (max-width:767px){
    .auth-card p.h2{
        font-size:1.6rem
    }
}
@media (max-width:575px){
    .auth-card{
        flex-direction:column
    }
    .auth-card .form-side,.auth-card .image-side{
        padding:35px 30px
    }
    .auth-card .logo-single{
        margin-bottom:20px
    }
    .auth-card p.h2{
        font-size:1.4rem
    }
}
.html-editor{
    height:350px
}
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,.ql-snow .ql-toolbar .ql-picker-item.ql-selected,.ql-snow.ql-toolbar .ql-picker-item:hover,.ql-snow .ql-toolbar .ql-picker-item:hover,.ql-snow.ql-toolbar .ql-picker-label.ql-active,.ql-snow .ql-toolbar .ql-picker-label.ql-active,.ql-snow.ql-toolbar .ql-picker-label:hover,.ql-snow .ql-toolbar .ql-picker-label:hover,.ql-snow.ql-toolbar button.ql-active,.ql-snow .ql-toolbar button.ql-active,.ql-snow.ql-toolbar button:hover,.ql-snow .ql-toolbar button:hover{
    color:#333333
}
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,.ql-snow.ql-toolbar button.ql-active .ql-fill,.ql-snow .ql-toolbar button.ql-active .ql-fill,.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,.ql-snow.ql-toolbar button:hover .ql-fill,.ql-snow .ql-toolbar button:hover .ql-fill,.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill{
    fill:#333333
}
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter,.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter,.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,.ql-snow.ql-toolbar button.ql-active .ql-stroke,.ql-snow .ql-toolbar button.ql-active .ql-stroke,.ql-snow.ql-toolbar button.ql-active .ql-stroke-mitter,.ql-snow .ql-toolbar button.ql-active .ql-stroke-mitter,.ql-snow.ql-toolbar button:hover .ql-stroke,.ql-snow .ql-toolbar button:hover .ql-stroke,.ql-snow.ql-toolbar button:hover .ql-stroke-mitter,.ql-snow .ql-toolbar button:hover .ql-stroke-mitter{
    stroke:#333333
}
.html-editor-bubble{
    height:200px
}
.html-editor-bubble .ql-editor{
    border:1px solid #d7d7d7
}
.ql-tooltip{
    z-index:4
}
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
    height:350px
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners{
    box-shadow:none!important
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-focused{
    border-color:#d7d7d7
}
.ck.ck-toolbar{
    background:#fff!important
}
.mind-icons .glyph,.simple-line-icons .glyph{
    width:14.28%;
    text-align:center;
    float:left;
    height:100px
}
.mind-icons .glyph .fa,.mind-icons .glyph .glyph-icon,.simple-line-icons .glyph .fa,.simple-line-icons .glyph .glyph-icon{
    font-size:32px
}
.mind-icons .glyph .author-name,.simple-line-icons .glyph .author-name{
    display:none
}
.mind-icons .glyph .class-name,.simple-line-icons .glyph .class-name{
    font-size:.76rem;
    color:#909090!important
}
@media (max-width:1199px){
    .mind-icons .glyph,.simple-line-icons .glyph{
        width:16.66%
    }
}
@media (max-width:991px){
    .mind-icons .glyph,.simple-line-icons .glyph{
        width:20%
    }
}
@media (max-width:767px){
    .mind-icons .glyph,.simple-line-icons .glyph{
        width:25%
    }
}
@media (max-width:575px){
    .mind-icons .glyph,.simple-line-icons .glyph{
        width:50%
    }
}
.chart-container{
    height:300px
}
.theme-colors{
    width:280px;
    position:fixed;
    z-index:1030;
    top:50%;
    right:0;
    background:#fff;
    box-shadow:0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
    transform:translate(280px,-50%);
    transition:transform .4s ease-out;
    padding-top:10px;
    padding-bottom:10px
}
.theme-colors .theme-button{
    position:absolute;
    left:-34px;
    background:#fff;
    padding:13px 7px;
    border-radius:.2rem;
    color:#212121;
    box-shadow:-2px 0 5px rgba(0,0,0,.04);
    font-size:20px;
    top:50%;
    transform:translateY(-50%);
    color:#333333
}
.theme-colors .theme-color{
    width:24px;
    height:24px;
    display:inline-block;
    border-radius:20px;
    transition:background .25s
}
.theme-colors .theme-color.active,.theme-colors .theme-color:hover{
    background:#fff
}
.theme-colors .theme-color-purple{
    border:3px solid #922c88;
    background:#922c88
}
.theme-colors .theme-color-blue{
    border:3px solid #333333;
    background:#333333
}
.theme-colors .theme-color-orange{
    border:3px solid #e2863b;
    background:#e2863b
}
.theme-colors .theme-color-green{
    border:3px solid #576a3d;
    background:#576a3d
}
.theme-colors .theme-color-red{
    border:3px solid #880a1f;
    background:#880a1f
}
.theme-colors.shown{
    transform:translateY(-50%)
}
.loading{
    display:inline-block;
    width:30px;
    height:30px;
    border:2px solid rgba(20,83,136,.2);
    border-radius:50%;
    border-top-color:#333333;
    animation:b 1s ease-in-out infinite;
    -webkit-animation:b 1s ease-in-out infinite;
    left:50%;
    top:50%;
    position:fixed;
    z-index:1
}
@keyframes b{
    to{
        -webkit-transform:rotate(1turn)
    }
}
